<!doctype html>
<html>
<head>
    <title>Business Signup</title>
</head>
<body>
    <h1></h1>Business sign up
    <form action="/business/signup" method="POST">
        <p>Username: <input name="username" required /></p>
        <p>Password: <input name="password" required /></p>
        <p>Business name: <input name="business name" required /></p>
        <p>Address: <input name="address" required /></p>
        <p>Website: <input name="website" /></p>
        <p>Password: <input name="password" required /></p>
        <p>Offer: <input name="offer" required /></p>
        <button type="submit">sign up</button>
    </form>
    <br>
    <a href="/business/signin">sign in</a>
</body>
</html>
